<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="content-type" content="text/html; utf-8">

<head>
<meta charset="ISO-8859-1">
<title>Administraci&oacute;n de Inventario</title>
<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top"
		style="background: #252850; width: 100%;">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"
					style="color: #ffffff; text-align: center; font-size: 40px;">Bienvenidos
					al Sistema de Ventas Todo1</a>
			</div>
		</div>
	</div>
	<div class="row">
		<h3 class="text-center"></h3>
		<div class="col-md-12">
			<div style="padding-left: 130px; padding-top: 5px;">
				<a href="/venta" class="btn btn-primary">Ver Ventas</a> <a
					href="/compra" class="btn btn-warning">Ver Compras</a>
			</div>
			<div class="text-center">
				<p></p>
			</div>
		</div>
	</div>
	<h2 th:text="${successdelete}" style="font-size:15px;"></h2>
	<h2 th:text="${success}" style="font-size:15px;"></h2>
	<h2 th:text="${existeReferencia}" style="font-size:15px;"></h2>
	
	<div class="container">
		<br>
		<br>
		<h2 th:if="${list.isEmpty()}">No hay productos en inventario</h2>
		<div th:if="${!list.isEmpty()}">
			<h2 style="text-align: center;">Gesti&oacute;n de Productos</h2>
			<br>
			<br>
			<table class="table">
				<thead>
					<tr>
						<th>Descripci&oacute;n</th>
						<th>Cantidad</th>
						<th>Referencia</th>
						<th>Precio</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="producto : ${list}">
						<td th:text="${producto.descripcion}">
						<td th:text="${producto.cantidad}">
						<td th:text="${producto.referencia}">
						<td th:text="${producto.precio}">
						<td><a class="btn btn-info"
							th:href="@{/save/{id_producto}(id_producto=${producto.id_producto})}">Editar</a></td>
						<td><a class="btn btn-danger"
							th:href="@{/delete/{id_producto}(id_producto=${producto.id_producto})}">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<br>
		
		<div style="padding-left: 350px;">
			<a href="/saveCompra/0" class="btn btn-primary">Realizar Compra</a> 
			<a href="/save/0" class="btn btn-primary">Agregar Producto</a> 
			<a href="/saveVenta/0" class="btn btn-primary">Vender Producto</a>
		</div>
	</div>
</body>
</html>