<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Administraci&oacute;n de Inventario</title>
<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" style="background:#252850; width:100%;">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color:#ffffff; text-align:center;  padding-left:180px; font-size:40px;">Guardar &oacute; modifcar producto</a>
          </div>
        </div>
    </div>
	<div style="padding-left:130px; padding-top:5px;">
			 <a href="/venta" class="btn btn-primary">Ver Ventas</a>
			 <a href="/compra" class="btn btn-warning">Ver Compras</a>
			 <a href="/" class="btn btn-success">Ir al inicio</a>
	</div>
	
	<div class="container">
		<br>
		<h2 style="text-align:center">Agregar Producto</h2>
		<br><br>
		<form action="#" th:action="@{/save}" th:object="${producto}"
			method="post">
			<div class="form-group">
				<label for="descripcion">Descripci&oacute;n</label> <input
					type="text" class="form-control" id="descripcion"
					th:field="*{descripcion}" name="descripcion" required></input>
			</div>
			<input type="hidden" th:field="*{id_producto}" name="id_producto"
				id="id_producto">
			<div class="form-group">
				<label for="cantidad">Cantidad</label> <input type="number"
					class="form-control" id="cantidad" th:field="*{cantidad}"
					name="cantidad" required></input>
			</div>

			<div class="form-group">
				<label for="referencia">Referencia</label> <input type="text"
					class="form-control" id="referencia" th:field="*{referencia}"
					name="referencia" required></input>
			</div>

			<div class="form-group">
				<label for="precio">Precio</label> <input type="text"
					class="form-control" id="precio" th:field="*{precio}" name="precio"
					required></input>
			</div>
			
			<br>
			<div style="padding-left:50px; text-align:center;">
			<button type="submit" class="btn btn-success">Guardar
				Producto</button>
			
			<a href="/" class="btn btn-primary">Cancelar</a>
			</div>
		</form>

	</div>
</body>
</html>